@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModel = Umbraco.Cms.Web.Common.PublishedModels;
@using ColorPicker = Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;


@{
    var buttonLinkText = Model?.Content.Value<string>("buttonLinkText");
    var buttonLinkUrl = Model?.Content.Value<string>("buttonLinkUrl");
    var buttonLinkColor = Model?.Content.Value<ColorPicker.PickedColor>("buttonLinkColor")?.Label.ToLower() ?? null;

    
}

@if(!string.IsNullOrEmpty(buttonLinkColor))
{
    <a href="@buttonLinkUrl" title="@buttonLinkText" class="btn-@buttonLinkColor">@buttonLinkText</a>
}
else
{
    <a href="@buttonLinkUrl" title="@buttonLinkText" class="btn">@buttonLinkText</a>
}